<h1 class="text-center">Confidential Shredding</h1>
<div class="container">
    <p>
        Recycling offers Confidential Shredding Services to university
        departments. To order a confidential shred container, please log into
        the Online Request System. Customers can use this system to create new
        requests, add accounts for invoicing purposes, and review the status of
        previous requests. Once an order is placed, Recycling staff will deliver
        containers to the designated university location.
    </p>
    <h3>MATERIALS ACCEPTED</h3>
    <p>
        Items accepted for confidential shredding and divide into two
        categories, Mixed Office Paper, and Electronic Media.
    </p>
    <ul>
        <li>
            <b>Mixed Office Paper</b> includes any paper materials to be shredded.
            <ul>
                <li>
                    Not accepted: handing file folders, laminated paper,
                    transparency film, binder clips, tree ring binders, plastic
                    bags/packaging, vinyl shet protectors, electronic media.
                </li>
            </ul>
        </li>
        <li>
            <b>Electronic Media</b> includes any non-paper items requiring data
            destruction (i.e. computer hard drives, DVDs, data tapes, microfilm,
            etc.)
        </li>
    </ul>
    <h3>CONTAINER OPTIONS</h3>
    <p>
        Because each type of material requires a specific destruction process,
        materials must be collected for destruction in separate containers by
        category. MSU Recycling currently offers the following 3 container
        options for confidential shredding:
    </p>
    <ul>
        <li>
            <b>Mixed Office paper</b>
            <ul>
                <li>
                    <b>Secure Slim Jim</b> – This desk-side container may only
                    be used for collecting Mixed Office Paper. Its dimensions
                    are 21” x 11” x 32” with a 28 gallon capacity. Available as
                    routed containers only.
                </li>
                <li>
                    <b>Large Security Curb Cart</b> – This two-wheeled container
                    may only be used for collecting Mixed Office Paper.  Its
                    dimensions are 28” x 26″ x 43” with a 96 gallon capacity.
                </li>
            </ul>
        </li>
        <li>
            <b>Electronic Media</b>
            <ul>
                <li>
                    <b>Security Hamper</b> – This six-wheeled container may only
                    be used for collecting non-paper, Electronic Media. Its
                    dimensions are 43” x 29” x 38” with a 176 gallon capacity.
                </li>
            </ul>
        </li>
    </ul>
    <p>
        All container options for the Confidential Shredding program have locked
        lids. Keys for these locks will remain in the possession of Recycling.
        Should a department wish to have their containers unlocked for any
        reason, they must indicate this through the online request system,
        either by selecting the “unlock” service from the drop down menu or by
        writing “unlock container” within the notes field of their service
        request.
    </p>
    <h3>FEES, RENTAL PERIODS, AND BILLING</h3>
    <p>
        Customers will be billed for service (pickup or exchange) of any
        security container. If for any reason a customer should wish to have
        their containers unlocked after the initial time of container drop-off,
        they will be billed an additional $5 service fee. Fees incurred for any
        shredding services are billed directly to one or more designated
        university accounts. Customers should select the appropriate accounts
        billable when completing any online service request. The following fees
        apply for MSU’s Confidential Shredding Services:
    </p>
    <table style="width:100%">
        <tr>
            <th><b>SERVICE</b></th>
            <th><b>RENTAL PERIOD</b></th>
            <th><b>FEE</b></th>
        </tr>
        <tr>
            <td>Secure Slim Jim Rental</td>
            <td>Up to 60 days</td>
            <td>$10 per service</td>
        </tr>
        <tr>
            <td>Large Security Curb Cart Rental</td>
            <td>Up to 60 days</td>
            <td>$25 per service</td>
        </tr>
        <tr>
            <td>Security Hamper Rental</td>
            <td>Up to 60 days</td>
            <td>$25 per service</td>
        </tr>
        <tr>
            <td>Unlock Container</td>
            <td>N/A</td>
            <td>$5 per service</td>
        </tr>
    </table>
    <p>
        All containers will be loaned to departments for no more than a 60-day
        rental period. This 60-day period shall begin at the time of container
        drop-off and shall end at the time an exchange or pick-up request is
        scheduled. If after 60 days of use a department has not scheduled a
        service request to have their container(s) exchanged or removed, a
        pick-up request will automatically be generated to exchange said
        container(s) and they will be billed accordingly.
    </p>
    <h3>ROUTED SERVICE</h3>
    <p>
        Customers wishing to make frequent and regular use of Confidential
        Shredding Services may request to have their services routed. Routed
        services will occur automatically without the need for an additional
        Service Request. These services can occur on a weekly, bi-weekly,
        monthly or bi-monthly basis. While all containers are available as a
        routed service, Secure Slim Jim rentals are only available as a routed
        service.
    </p>
    <p>
        Departments wishing to automate their service requests should contact
        Recycling at <a href="mailto:recycle@msu.edu">recycle@msu.edu</a> in
        order to determine an appropriate schedule for their services.
    </p>
    <h3>IMPORTANT</h3>
    <ul>
        <li>
            Contact University Archives before you start to shred materials.
            There may be guidelines that require certain records to be retained.
        </li>
        <li>
            <a href="http://recycle.msu.edu/wp-content/uploads/Confidential-Material-Destruction-Disclosure.pdf">
                Please read the MSU Recycling Shredding Service disclosure
                regarding the level of security we provide to ensure that it
                meets any requirements that the materials you are shredding may
                have (HIPPA, FERPA, etc.).
            </a>
        </li>
    </ul>
</div>
