<h1 class="text-center">Contact Us</h1>
<div class="container">
    <h3>MSU Recycling</h3>
    <p>
        468 Green Way<br>
        East Lansing, MI 48824<br>
        Ph: 517-355-1723<br>
        Fax: 517-353-0836<br>
        <a href="mailto: recycle@msu.edu">recycle@msu.edu</a>
    </p>
    <h3>Administration</h3>
    <p>
        Kris Jolley<br>
        Manager Surplus Store & Recycling<br>
        jolleykr@msu.edu
    </p>
    <p>
        Sarah Heckaman<br>
        Office Manager<br>
        heckam@msu.edu
    </p>
    <p>
        Marc Hill<br>
        Financial Analyst<br>
        hillmarc@msu.edu
    </p>
    <p>
        Dave Smith<br>
        Recycling Coordinator<br>
        smithd86@msu.edu
    </p>
    <p>
        Tom March<br>
        Sales Manager<br>
        marcht@msu.edu
    </p>
    <p>
        Sean Barton<br>
        Operations Manager<br>
        bartonse@msu.edu
    </p>
    <p>
        Dennis Consavage<br>
        Fleet & Equipment Manager<br>
        consavage@msu.edu
    </p>
    <p>
        Tim Heckaman<br>
        IT Manager<br>
        heckama5@msu.edu
    </p>
</div>
