<h1 class="text-center">Facility Features</h1>
<div class="container">
    <p>
        The new facility has received gold LEED (Leadership in Energy and
        Environmental Design) certification. Gold is one of the highest levels
        of LEED-certification awarded to building projects around the U.S.
        Check out the <a href="https://goo.gl/8Dee3P">LEED scorecard</a> for the
        Surplus Store & Recycling Center. Our Building's environmentally
        sensitive features include:
    </p>
    <b>Photovoltaic Panels:</b>
    <p>
        Located on the roof, the panels consist of 12 strings. Each string
        contains 16 modules, totaling 192 pounds. The total system rating is
        estimated at 37,257 kilowatt-hour a year of energy at a value of $2,381
        per year. It has a real-time display showing electricity generated,
        hourly, daily, and monthly read-outs, a weather station, and will
        provide up to 10% of the building's electrical needs. The Public
        Recycling Drop-Off Center lights are also powered by photovoltaic cells.
    </p>
    <b>Rain Gardens:</b>
    <p>
        Our four rain gardens were strategically placed on the outside edges of
        the pavement. The rain flows into the garden instead of filtering into
        nearby rivers and storm drains. The native plants have roots that reach
        deep into the soil and can handle droughts and floods. Rain gardens
        reduce river and stream pollution and needs to irrigation system.
    </p>
    <b>Energy Recovery Ventilators System:</b>
    <p>
        Conditioned air exhausted from the rest rooms powers the ERV system to
        help cool incoming fresh outdoor air. This reduces the cost to otherwise
        cool or heat the fresh air. This practice also helps eliminate
        ozone-depleting refrigerants in the air conditioning systems.
    </p>
    <b>Certified Wood:</b>
    <p>
        Certified wood accounts for at least 50% of wood material used in the
        project. The wood products were produced under the Forest Stewardship
        Council principles, which come from well-managed forests and sustainable
        practices.
    </p>
    <b>Water-efficient Fixtures:</b>
    <p>
        The water efficient toilets and urinals use and conserve harvested
        rainwater (see below), saving 30% over standard fixtures.
    </p>
    <b>Ceiling Fans:</b>
    <p>
        To provide a comfortable space that promotes productivity and the
        well-being of building occupants, five strategically placed, large fans
        were installed throughout the building. They are tied into the Building
        Management System, so they operate only when necessary. The large fans
        move air at a low speed, and low speed means less energy used. The fans
        range from 8-12 feet in diameter, and in the summer, they will produce a
        breeze that causes the air to feel 8-16 degrees cooler. During the
        winter months, the fans gently drive hot air trapped in the ceilings
        down to the floor, resulting in reduced heating expenses.
    </p>
    <b>Snow Melt System:</b>
    <p>
        Glycol-filled heat tubes under the concrete help keep the outside
        walkways drier and safer during the winter by decreasing ice and snow
        accumulation.
    </p>
    <b>Porous Asphalt:</b>
    <p>
        Standard asphalt drains water into streams, rivers, or storm sewers. As
        a way to help manage storm runoff, the northeast parking lot was paved
        with porous asphalt. Unlike standard asphalt, porous asphalt does not
        discharge runoff to any open to water source. Instead, water drains
        through the porous asphalt into a stone bed then slowly infiltrates into
        the soil, filtering out particulates before it returns to the water
        table.
    </p>
    <b>Recycled Glass in Concrete:</b>
    <p>
        One way to keep green glass out of the landfill is to mix it into
        concrete. The heated sidewalk, driveway approaches, and curbs, which
        amounts to 15% of the exterior concrete, includes recycled, green,
        barely-seen glass particles.
    </p>
    <b>Paints, Adhesives, Carpeting and Interior Furnishings:</b>
    <p>
        All paints, adhesives, carpeting and interior furnishings in the
        building meet LEED standards by having low or no volatile organic
        compounds (VOCs).
    </p>
    <b>EnviroGLAS Counter tops:</b>
    <p>
        The Conference Room table and Education Center counter is constructed
        with 100% recycled glass. The “S” is recycled porcelain and recycled
        aluminum. These durable surfaces are free of VOCs and did not require
        the removal of granite from the earth through mining.
    </p>
    <b>Other Energy Savings:</b>
    <p>
        Systems installed in the building help achieve more than 50% energy cost
        savings over the American Society of Heating, Refrigerating and
        Air-Conditioning Engineers baseline. Additional features that will
        achieve energy savings include: Motion sensors in high-traffic areas to
        control lighting, broad use of natural day lighting due to large number
        of windows in facility, and low-flow fixtures to decrease water and
        energy use in rest rooms.
    </p>
</div>
