<h1 class="text-center">Mission & History</h1>
<div class="container">
    <h3>Mission:</h3>
    <p>
        The mission of MSU's Recycling operation is to develop, provide, and
        nuture environmentally, socially, and economically sustainable solid
        waste management solutions for Michigan State University and the local
        campus community.
    </p>
</div>
<div class="container">
    <h3>History:</h3>
    <p>1988</p>
    <ul>
        <li>
            Students petition the MSU Board of Trustees to focus on recycling.
        </li>
        <li>
            The MSU Board of Trustees forms an administrative task force to
            develop a comprehensive plan for waste reduction.
        </li>
        <li>
            MSU receives a State of Michigan Grant to implement an office paper
            recycling program.
        </li>
    </ul>
    <p>1989 - 1991</p>
    <ul>
        <li>
            Solid Waste reduction becomes a focus for students and administration.
        </li>
        <li>
            The University establishes the Office of Recycling and Waste
            Reduction (ORWR) to identify responsible solutions to solid waste
            problems.
        </li>
        <li>
            The ORWR develops a campus-wide waste management strategy, working
            with all University departments on waste reduction education and
            providing waste reduction resources.
        </li>
        <li>
            The first waste collection containers are distributed to
            administrative offices for white paper recycling.
        </li>
    </ul>
    <p>1992 - 1998</p>
    <ul>
        <li>
            The list of recyclables continues to grow with the addition of phone
            directories, catalogs, magazines, bound books, and other paper
            products. The amount processed by ORWR increases exponentially
            year-after-year.
        </li>
        <li>
            The recycling collection fleet expands to meet demands with the
            addition of a rear loading packer truck for cardboard collection.
        </li>
        <li>
            A recycling drop off center is added to the University Apartments.
        </li>
        <li>
            The Student Move Out collection program, Pack Up, Pitch In, begins.
            Clothing, food and household goods are donated to several local
            charities. Loft lumber is donated or resold.
        </li>
    </ul>
    <p>1999 - 2007</p>
    <ul>
        <li>
            MSU expands ORWR's mission to include a comprehensive approach to
            recycling, waste reduction, and waste management.
        </li>
        <li>
            ORWR is renamed the Office of Recycling and Waste Management (ORWM),
            and is realigned under the university’s Physical Plant Division.
            With this reorganizations, all trash collection duties which were
            originally housed within the Grounds Department of the Campus Park
            and Planning Division are combined with the recycling services, and
            ORWM begins to provide comprehensive refuse and recycling services
            for Michigan State University.
        </li>
        <li>
            The Salvage Yard is renamed the Surplus Store and is aligned under
            the University Services Division.
        </li>
        <li>
            The Surplus Store focuses on landfill diversion through reuse and
            increases the annual revenue returned to departments from the sale
            of reusable goods by 800% over the next 5 years.
        </li>
        <li>
            Non-traditional recyclables including toner cartridges and pallets
            are collected.
        </li>
        <li>
            Electronic waste recycling initiative begins. The program originated
            in partnership with Federal Prison Industries and would later move
            to a private contractor.
        </li>
    </ul>
    <p>2008</p>
    <ul>
        <li>
            The Office of Recycling and Waste Management is renamed MSU
            Recycling and is combined with the MSU Surplus Store to create a
            vertically integrated comprehensive solid waste management system on
            campus.
        </li>
        <li>
            MSU sets a campus-wide goal to reduce energy use by 15%, reduce
            greenhouse gas emissions by 15%, and reduce landfill waste by 30% by
            2015.
        </li>
        <li>
            The Board of Trustees authorizes construction of a new $13.3 million
            dollar facility to house MSU Recycling, Surplus Store and Storage,
            and Waste Management.  The newly formed department will pay for the
            facility over several years with savings from gained efficiencies
            and revenues from an increased focus on reuse and recycling.
        </li>
        <li>
            Plans for the new building include environmentally friendly features
            such as rainwater collection tanks on the roof to provide toilet
            water, rooftop photovoltaic solar panels to produce 10% of the
            building’s electricity, and a large number of windows to increase
            the use of natural lighting throughout the facility. Some additional
            features include an education center to host outreach programs, a
            compost and metal scrap bunkers, and a truck scale and space for
            roll-off and semi-trailer storage containers.
        </li>
    </ul>
    <p>2009</p>
    <ul>
        <li>
            Construction of the new 74,000 square foot facility is completed,
            bringing MSU Recycling, Surplus Store, Storage, and Waste Management
            functions under one roof.
        </li>
    </ul>
    <p>2010</p>
    <ul>
        <li>
            MSU Recycling begins advanced sorting and baling of recyclables,
            allowing the separated materials to be sold at higher prices to
            processors and generating more revenue for MSU.
        </li>
        <li>
            The new facility collects 3.6 million pounds of recyclables in its
            first year.
        </li>
        <li>
            The new facility earns the coveted U.S. Green Council LEED gold
            certification.
        </li>
        <li>
            MSU Surplus Store continues achieving record setting annual sales
            approaching <b>$3 million</b> in gross sales.
        </li>
        <li>
            A program implemented to provide short and long term storage options
            to students.
        </li>
    </ul>
    <p>2011 - 2012</p>
    <ul>
        <li>
            MSU Recycling and MSU Surplus Store continue working in tandem
            toward achieving independence from solid waste disposal. Programs in
            waste reduction, reuse, and recycling help MSU use resources more
            efficiently, simultaneously reducing the volume, cost, and
            environmental impacts of the University’s waste.
        </li>
    </ul>
    <p>2013</p>
    <ul>
        <li>
            MSU Recycling, Surplus Store, Storage, and Waste Management combine
            with MSU Bikes and join MSU’s Office of Campus Sustainability to
            form a holistic waste reduction and sustainability team, MSU
            Sustainability, which reports to MSU’s Infrastructure Planning and
            Facilities Department (formally known as the university’s Physical
            Plant Division).
        </li>
        <li>
            MSU Sustainability establishes a new volunteer organization, the Be
            Spartan Green Team, meant to encourage student participation in
            campus sustainability and waste reduction efforts.
        </li>
    </ul>
</div>
