<h1 class="text-center">Office Clean Out</h1>
<div class="container">
    <p>
        MSU Surplus Store & Recycling offers everything you need for an office
        clean out.  Any services can be combined or used individually for your
        project.
    </p>
    <p>
        If you have a mix of different items to be sent to the Surplus Store as
        well as recyclable materials and they are ready to go right now, you can
        simply complete a
        <a href="https://fm.ssrc.msu.edu/fmi/webd/OnlineRequest?homeurl=http://recycle.msu.edu">Service Request</a>
        (or Asset Transfer for MSU Inventoried items). Surplus Store staff will
        arrive at your department with containers, help load all items and
        remove them that day. This free service allows you the convenience of
        one-stop shopping while maximizing the opportunity for reusing/recycling
        items no longer needed.
    </p>
    <p>
        If, however, an office clean out consists mostly of emptying file
        cabinets, etc. and recycling the contents, you can have temporary
        containers delivered to assist you. Curb carts and/or hampers are the
        typical containers* employed to collect any recyclable items.  When you
        are done with the project, of if you have filled one or more containers
        and need empty ones to continue, please complete a
        <a href="https://fm.ssrc.msu.edu/fmi/webd/OnlineRequest?homeurl=http://recycle.msu.edu">Service Request</a>.
    </p>
    <p>
        The preferred method of collection is to separate materials into the
        common recycling categories found in most buildings (White Office Paper,
        Mixed Office Paper/Boxboard, Newspaper, Plastic-Metal, Corrugated
        Cardboard, Books, etc.). However, if space considerations make this
        separation impossible, combined recycling options do exist (all paper
        products together with bagged plastic-metal).
    </p>
    <p>
        <i>
            *MSU Recycling has other containers/methods for collection of
            materials and will employ the one(s) that are in the best interest
            of both the customer and the department.
        </i>
    </p>
</div>
