<h1 class="text-center">Organic Waste Diversion</h1>
<div class="container">
    <h3>Compost Research Site at the Horticulture Farm</h3>
    <p>
        In 2012 collection of pre-consumer food waste (fruit and vegetable
        cuttings) began as a pilot program from several dining facilities on
        campus. The material is used in compost research, including
        vermicomposting. Vermicomposting is the process of using worms and
        micro-organisms to turn organic waste into nutrient-rich fertilizer.
        Excess compost is sold to the public through the Surplus Store with
        proceeds going to support the research. The site processes
        approximately 80-100 tons of food waste per year.
    </p>
    <h3>Composting Facility</h3>
    <p>
        The composting facility was developed as a tool within the south campus
        nutrient management plan. It works to reduce nutrients applied to
        agricultural land, improve manure handling and provide Landscape
        Management with a soil amendment to improve the soil quality and reduce
        the burden of fertilizer costs. The facility takes in 12,000 cubic yards
        (7,700 tons) of solid manure or 80% of the total produced on campus each
        year. It also incorporates leaf material from north campus. Over 6
        million pounds of excess finished compost were sold to the public
        through the Surplus Store in 2012 with proceeds going to support the
        composting program.
    </p>
    <h3>Anaerobic Digestion</h3>
    <p>
        Another portion of pre-consumer food waste and some post-consumer food
        waste is collected from dining halls on campus and delivered to the
        South Campus Anaerobic Digester. These materials are combined with
        manure in the digester. An anaerobic digester is a sealed tank, deprived
        of oxygen, in which organic waste is degraded at an elevated 
        temperature. This allows the waste material to decompose quickly and
        produce methane that can be captured and used as fuel.
    </p>
</div>
