<h1 class="text-center">Recycling and Waste</h1>
<div class="container">
    <h3>On-Campus - Interior Recycling and Waste</h3>
    <p>
        Recycling provides comprehensive recycling and waste management services
        for the entire campus.  For normal day-to-day recycling and waste needs,
        Custodial Services, services interior recycling stations and waste
        containers.  Materials are delivered to the loading dock where Recycling
        staff collects and transports it to our Material Recovery Facility, or
        landfill.
    </p>
    <h3>On-Campus - Event Recycling</h3>
    <p>
        Recycling provides waste reduction and recycling services for events
        held on campus.  Whether you’re planning a 5K run/walk, a conference, or
        a party we can help you “green” your event by keeping waste out of the
        trash can.<br>
        We provide a wide range of services, including:
    </p>
    <ul>
        <li>
            1.<b>Loaning recycling containers for you to use during your event.
            </b> Our staff will work with you prior to the event to determine
            what waste will be generated, portential opportunities to reduce
            waste, and the best collection methods. We'll coordinate the drop
            off of containers prior to the event and pick up of containers and
            recyclable materials post event. You are responsible for placing
            and servicing recycling containers during the event.
        </li>
        <li>
            2.<b>Turnkey recycling.</b> MSU recycling staff will coordinate
                waste reduction and recycling services for an event and provide
                staffing during the event for material collection and disposal.
                We provide all serices including planning, implementing and
                follow-up. There is a nominal fee for this service.
        </li>
        <li>
            3.<b>Zero-Waste Event.</b> "Zero Waste maximizes recycling,
            minimizes waste, reduces consumption and ensures that products are
            made to be reused, repaired, or recycled back into nature or the
            marketplace." MSU Recycling has successfully implemented zero waste
            events on campus. For these events, we plan ahead to reduce waste,
            reuse items, and set up Zero-Waste stations for compostable and
            recyclable material. Zero Waste stations are staffed by MSU
            Recycling personnel to ensure all materials are properly collected.
            There is a nominal fee for this service.
        </li>
    </ul>
    <h3>On-Campus - Exterior Recycling and Waste</h3>
    <p>
        MSU Recycling provides and services external containers for recycling
        and waste collection. Permanent containers at most buildings are
        typically routed and serviced routinely.  These containers are designed
        to provide adequate capacity for normal business operations in campus
        buildings.  For special needs, additional Front-Load and Roll-Off
        recycling and waste containers can be placed to ensure proper management
        of the materials generated.
    </p>
    <p>
        Many items are often mistakenly landfilled when they could be reused or
        recycled at no cost. Please contact us to request an evaluation by MSU
        Recycling & Surplus Store staff to ensure appropriate containers are
        requested; or complete a Service Request if containers already in place
        need servicing or removal.
    </p>
    <h3>Public Recycling</h3>
    <p>
        Area residents along with students, faculty and staff can take advantage
        of MSU’s Recycling Drop off Center located at 468 Green Way East
        Lansing, MI 48823 just south of the intersection of Farm Lane and
        Service Drive. The Recycling Center, open 24/7, accepts nine different
        types of materials including books and all colors of glass.
    </p>
    <p>
        Last year community members dropped off over 3.2 million pounds of
        recyclables at the drop off center. The sale of these recyclables
        resulted in more than $180,000 in revenue for the University which
        helped offset the cost of this service and supports the mission of the
        Surplus Store & Recycling Center.
    </p>
    <h3>Contractor/Construction Recycling and Waste</h3>
    <p>
        Contractors working on campus can reduce waste disposal costs by
        utilizing Surplus Store and Recycling’s Waste Evaluation and Removal
        service. It’s a great way to help meet LEED standards and establish a
        “green” construction project.
    </p>
    <p>Here's how it works:</p>
    <ol>
        <li>
            Department staff meet with contractors prior to commencement of
            construction materials.
        </li>
        <li>
            The project is evaluated and items that can be collected for reuse
            and recycling are identified.
        </li>
        <li>
            Collection methods are determined and pricing is discussed. A
            formal proposal can be prepared for projects that require it.
        </li>
        <li>
            Containers are delievered and materials are collected throughout
            the project with monthly collection reports/invoices.
        </li>
    </ol>
    <p>
        Items that can be reused are removed at no charge. Depending on the
        material, charges may be incurred for servicing containers containing
        recyclable commodities. Any refuse generated that is collected for
        disposal by MSU Recycling will be charged at market rates. Hazardous
        waste or any materials deemed unacceptable by Surplus Store and
        Recycling staff must be properly disposed by the contractor.
    </p>
    <p>
        This service can be provided for any size job, from renovating a single
        room to a whole building. For more detailed information, please contact
        us.
    </p>
    <p>
        <b>Items that are commonly collected for reuse include:</b>
    </p>
    <ul>
        <li>Furniture</li>
        <li>Windows & window treatments</li>
        <li>Doors, trim, etc</li>
        <li>Office fixtures</li>
        <li>Bricks</li>
        <li>Reusable wood</li>
    </ul>
    <p>
        <b>Items commonly colelcted for recycling include:</b>
    </p>
    <ul>
        <li>Metal</li>
        <li>Concrete/Asphalt</li>
        <li>Corrugated Cardboard</li>
    </ul>
    <p>
        <b>Items that must be properly disposed:</b>
    </p>
    <ul>
        <li>Carpet (sent to a Waste-to-Energy facility)</li>
        <li>Painted/Stained/treated wood waste</li>
        <li>Drywall</li>
    </ul>
</div>
