<div class="container">
    <h1 class="text-center">Recycling Request Log In</h1>

    <div align="center">
        <form ng-submit="formSubmit()">
            <div class="form-group">
                MSU Net Id: <input type="text" class="form-control" ng-model="netid" placeholder="MSU Net Id" required style="width: 300px">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Log In</button>
            </div>
        </form>
    </div>
</div>
